[class*="col-"] {
    width:100%;
}

@media only screen and (min-width:768px) {
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

.inhoud{
    max-height:470px;
    overflow-y: scroll;
}
}

body{
    font-family: 'Red Hat Display', sans-serif;
}

header {
    background-color: #A81F23;
    color:#FFFFFF;
    Padding: 15px 15px 15px 15px;
    background-image:url('../afb/schild.jpg');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center center;

}
footer {
    background-color: #A81F23;
    color:#FFFFFF;
    margin: 0px 0px 0px 0px;
    padding:2px 0px 2px 20px;
    clear:left;
    font-size: smaller;
    font-style: italic;

}
h2{
    Margin:10px 0px 10px 0px;
    font-family: 'Red Hat Display', sans-serif;
}
section{
    border:black 1px solid;
    margin:3px;
    padding:3px 3px 3px 5px;
}
img{
    float:right;
    width:30%;
    height:auto;
    Max-width: 300px;
}
.menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.menu li{
    padding:8px;
    margin-bottom:7px;
    background-color:#A81F23;
    color:white;
}
.menu li:hover{
    background-color:green;
}


